@using PhotoFiler.Helper

@model IEnumerable<PhotoFiler.Models.Photo>

@{
    ViewBag.Title = "Gallery";
}

<div class="row image-preview">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Index", new { hash = item.Hash})">
            <span class="col-xs-12 col-sm-6 col-md-4 col-md-3 image-preview">
                @Html.Image(Url.Action("Preview", new { hash = item.Hash }), item.Name, "img-thumbnail img-responsive")
            </span>
        </a>
    }
</div>

<div class="row">
    <div class="col-xs-12 text-center">
        @if (ViewBag.Previous > 0)
        {
            @Html.ActionLink(" ", "Gallery", new { page = ViewBag.Previous, count = ViewBag.Count }, new { @class = "glyphicon glyphicon-backward" });
        }

        <span>Page @ViewBag.Current / @ViewBag.Max</span>

        @if (ViewBag.Next <= ViewBag.Max)
        {
            @Html.ActionLink(" ", "Gallery", new { page = ViewBag.Next, count = ViewBag.Count }, new { @class = "glyphicon glyphicon-forward" })
        }
    </div>
</div>
